<h1>Dedalus text analyzer</h1>
<form (ngSubmit)='submitButtonClicked()'>
  <input type="text" name="textToAnalyze" placeholder="Type in your Text here" [(ngModel)]="textToAnalyze">
  <fieldset>
    <input type="checkbox" id="v" name="analyzeVovels" value="analyzeVovels" [(ngModel)]="vov">
    <label for="v"> analyzeVovels</label>
    <br>
    <input type="checkbox" id="c" name="analyzeConsonants" value="analyzeConsonants" [(ngModel)]="cons">
    <label for="c"> analyzeConsonants</label>
  </fieldset>
  <button type="submit">analyze Text</button>
</form>
<table>
  <thead>
  <tr>
    <th>Letter</th>
    <th>Occurred</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of result | keyvalue">
    <td>{{item.key}}</td>
    <td>{{item.value}}</td>
  </tr>
  </tbody>
</table>
